<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Store</title>
    <link rel="stylesheet" th:href="@{/admin_store_form.css}">
</head>
<body>
    <form th:action="@{/admin/stores/add}" th:object="${store}" method="post">
        <div class="header">
            <h1>Add Store</h1>
            <a th:href="@{/admin/stores}">Back to Stores</a>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></div>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required/>
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error-message"></div>
        </div>
        <div>
            <label for="localities">Localities Served:</label>
            <input type="text" id="localities" th:field="*{localities}" required/>
            <div th:if="${#fields.hasErrors('localities')}" th:errors="*{localities}" class="error-message"></div>
        </div>
        <div>
            <button type="submit">Add Store</button>
        </div>
    </form>
</body>
</html>
