<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User View Stores</title>
    <link rel="stylesheet" th:href="@{/user_view_stores.css}">
</head>
<body>
    <h1>User View Stores</h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
        <!-- Check if stores list is empty -->
    <div th:if="${#lists.isEmpty(stores)}">
        <p>No stores found.</p>
    </div>
    <table th:if="${not #lists.isEmpty(stores)}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Localities Served</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the list of stores -->
            <tr th:each="store : ${stores}">
                <td th:text="${store.name}"></td>
                <td th:text="${store.phoneNumber}"></td>
                <td th:text="${store.localities}"></td>
                <td><a th:href="@{'/user/stores/' + ${store.id}}">View</a></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/admin/stores}" method="get">
        <button type="submit">Admin Login</button>
    </form>
</body>
</html>
