<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h1>Login</h1>
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>
        <div th:if="${error}">
            <p style="color:red;">Invalid username or password</p>
        </div>
        <div>
            <a th:href="@{/registration}">
                <button type="button" class="register-button">Register</button>
            </a>
        </div>
    </form>
</body>
</html>
